body {
  padding: 0;
  margin: 0;
  background-color: rgb(234, 225, 213);
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cv {
  background-color: white;
  width: 900px;
  padding: 2rem;
}

.divider {
  display: flex;
}

.width25 {
  width: 25%;
}

.width75 {
  width: 75%;
}
